.button {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  width: 240px;
  height: 65px;
  background-color: darken(#fed136, 20%);
  padding: 20px 40px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px $color-text-secondary;
}
