.splash-inner {
  margin: auto;
  text-align: center;
  transform: translateY(50%);

  h3 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-style: italic;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media(max-width: 768px) {

    transform: translateY(30%);

    h3 {
      font-size: 20px;
    }

    h1 {
      font-size: 36px;
    }

  }
}
